{% extends "base.html" %}

{% block title %}Content Upgrades{% endblock %}

{% block extra_top_js %}
    <script type="text/javascript">
        function toggle_cu_item_publish(item_id){
        	
            jQuery.get('/contentpublisher/item/'+item_id+'/toggle/', function(data){
            	jQuery('#id_cu_'+item_id).html(data);
            });
        }
    </script>
{% endblock %}

{% block content %}
	<div class="content">
		<div class="console">
			<h1>KFC Live Content Publishing</h1>
			<div class="console_body">
				{% if object_list %}
					<table class="contentpublisher">
					    <thead>
					        <tr>
					            <th class="cp_title">Title</th>
					            <th class="cp_date">Date / Time</th>
					            <th class="cp_url">URL</th>
					            <th class="cp_publish">Publish Approved</th>
					        </tr>
					    </thead>
					    <tbody>
					        {% for item in object_list %}
						        <tr>
						            <td>{{ item.object.title }}</td>
						            <td>{{ item.date_time }}</td>
						            <td><a href="{{ item.object.get_absolute_url }}" target="_blank">{{ item.object.get_absolute_url }}</a></td>
						            <td><a href="#" onclick="javascript:toggle_cu_item_publish({{ item.id }});" id="id_cu_{{ item.id }}">{{ item.must_publish }}</a></td>
						        </tr>
					        {% endfor %}
					    </tbody>
					</table>
				{% else %}
				    <p>Sorry, there are no pending content upgrades.</p>
				{% endif %}
			</div>
		</div><!--/console-->
	</div><!--/content-->
{% endblock %}