{% extends "base.html" %}

{% block title %}Content Upgrades{% endblock %}

{% block extra_top_js %}
    <script type="text/javascript">
        function toggle_cu_item_publish(item_id){
        	
            jQuery.get('/contentpublisher/item/'+item_id+'/toggle/', function(data){
            	jQuery('#id_cu_'+item_id).html(data);
            });
        }
    </script>
{% endblock %}

{% block content %}
	{% if object_list %}
		<table width="100%" style="background:white; color:black;">
		    <thead>
		        <tr>
		            <th>Title</th>
		            <th>Date / Time</th>
		            <th>URL</th>
		            <th>Publish Approved</th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for item in object_list %}
			        <tr>
			            <td><center>{{ item.object.title }}</center></td>
			            <td><center>{{ item.date_time }}</center></td>
			            <td><center><a href="{{ item.object.get_absolute_url }}">{{ item.object.get_absolute_url }}</a></center></td>
			            <td><center><a href="#" onclick="javascript:toggle_cu_item_publish({{ item.id }});" id="id_cu_{{ item.id }}">{{ item.must_publish }}</a></center></td>
			        </tr>
		        {% endfor %}
		    </tbody>
		</table>
	{% else %}
	    <center>Sorry, there are no pending content upgrades.</center>
	{% endif %}
{% endblock %}